<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header">
</head>
<body>
<!-- Nav Bar -->
<div lang="en" th:include="fragments/navigation :: navigation"></div>
<div class="container-fluid">
    <div class="todoForm">
        <form class="form-horizontal" role="form" th:action="@{/add}" th:object="${newTodo}" method="POST">
            <div class="form-group">
                <label for="inputItemDescription" class="col-sm-2">Task Description</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{description}" class="form-control" id="inputDescription" placeholder="Enter description"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputItemCategory" class="col-sm-2">Start Time</label>
                <div class="col-sm-10">
                    <input type="date" th:field="*{created}" class="form-control" id="inputCreated" placeholder="Enter start time"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputItemCategory" class="col-sm-2">End Time</label>
                <div class="col-sm-10">
                    <input type="date" th:field="*{modified}" class="form-control" id="inputModified" placeholder="Enter end time"/>
                </div>
            </div>

            <div class="btn-group" role="group" aria-label="cancel">
            <a href="/" th:href="@{/}"  class="button btn btn-danger">Cancel</a>
        </div>


            <div class="btn-group" role="group" aria-label="submit">
                <button type="submit" class="button btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2018</div>
</body>
</html>
